<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.example.sample.barcodeScannerMV" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		BarcodeScannerMV
	</name>
	<js-module name="BarcodeScannerMV" src="www/BarcodeScannerMV.js">
		<clobbers target="BarcodeScannerMV" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BarcodeScannerMV">
				<param name="android-package" value="com.example.sample.barcodeScannerMV.BarcodeScannerMV" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="application">
			<!-- <activity 
				android:label="Main Activity" 
				android:name="com.example.sample.barcodeScannerMV.MainActivity">
			</activity> -->
			<activity 
				android:label="Barcode activity" 
				android:name="com.example.sample.barcodeScannerMV.BarcodeCaptureActivity" 
				android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		    <uses-feature android:name="android.hardware.camera" />
    		<uses-permission android:name="android.permission.CAMERA" />
		</config-file>
		<source-file src="src/android/BarcodeScannerMV.java" target-dir="src/com/example/sample/barcodeScannerMV" />
		<source-file src="src/android/MainActivity.java" target-dir="src/com/example/sample/barcodeScannerMV" />
        <source-file src="src/android/BarcodeCaptureActivity.java" target-dir="src/com/example/sample/barcodeScannerMV" />
        <source-file src="src/android/BarcodeGraphic.java" target-dir="src/com/example/sample/barcodeScannerMV" />
        <source-file src="src/android/BarcodeGraphicTracker.java" target-dir="src/com/example/sample/barcodeScannerMV" />
        <source-file src="src/android/BarcodeTrackerFactory.java" target-dir="src/com/example/sample/barcodeScannerMV" />
        <source-file src="src/android/ui/camera/CameraSource.java" target-dir="src/com/example/sample/barcodeScannerMV/ui/camera" />
        <source-file src="src/android/ui/camera/CameraSourcePreview.java" target-dir="src/com/example/sample/barcodeScannerMV/ui/camera" />
        <source-file src="src/android/ui/camera/GraphicOverlay.java" target-dir="src/com/example/sample/barcodeScannerMV/ui/camera" />
		<source-file src="src/android/res/layout/activity_main.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/barcode_capture.xml" target-dir="res/layout" />
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable-ldpi"/>
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable-mdpi"/>
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable-xhdpi"/>
        <source-file src="src/android/res/drawable/icon.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values"/>

		<framework src="com.android.support:support-v4:24.2.0" />
		<framework src="com.google.android.gms:play-services-vision:+" />
		<framework src="com.android.support:design:24.2.0" />

	</platform>
</plugin>